/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

body {
    margin: 0;
    padding: 0;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* IMPORTS */
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import 'digitas.scss';
@import 'sass-bootstrap/lib/bootstrap';
@import 'themeriver.scss';

$transitionSpeed: 150ms;

h1, h2, h3, h4 {
    font-family: Oswald, Impact, sans-serif;
}

h1 {
    font-size: 3.5em;
}
h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 1em;
}

h4.list-group-item {
    margin: 0;
}

body { 
  background: linear-gradient(-45deg, #FFF 0%, #FFF 25%, #FCFCFC 25%, #FCFCFC 50%, #FFF 50%, #FFF 75%, #FCFCFC 75%, #FCFCFC 100%);
  background-size: 50px 50px; 
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    h1 {
        padding: 0 0.5em;
    }
}

#controls {
    position: absolute;
    width: 25%;
    height: 100%;
    background: white;
    border-right: 1px solid rgba(0,0,0,0.5);

    position: absolute;
    top: 0;
    left: 0;

    transition: all $transitionSpeed;
    transform: translateX(-100%);

    .handle {
        position: absolute;
        right: -3em;
        top: 10%;

        a {
            font-size: 3em;
            padding: 0em;
            background: rgba(0,0,0,0.25);
            color: white;
            border-radius: 0 4px 4px 0;
            border-left: 0;
            text-shadow: 0 0 0.25em rgba(0,0,0,0.5);
            box-shadow: inset 0 0 0.25em rgba(0,0,0,0.5);
            
            transition: all $transitionSpeed;
        }
        a:hover {
            text-decoration: none;
            background: rgba(0,0,0,0.5);
        }
    }

    .wrapper {
        padding: 0 1em;
        overflow: hidden;
        height: 100%;
        width: auto;
    }
    .wrapper:hover {
        overflow-y: scroll;
    }

    .list-group-item.filter .icon-erase {
        padding: 7px 12px 6px;
    }

    .contained-list {
        max-height: 25em;
        overflow: hidden;

        .list-group-item:first-child {
            border-radius: 0;
        }
        .list-group-item:last-child {
            border-radius: 0;
            border-bottom: 0;
        }
        .list-group-item.end {
            max-height: .1em;
        }

        a.list-group-item {
            transition: all $transitionSpeed;
        }
    }
    .contained-list:hover {
        overflow-y: scroll;
    }
}

#controls.open {
    transform: translateX(0%);
    box-shadow: 0 0 1em rgba(0,0,0,0.5);

    .handle {
        a {
            background: rgba(0,0,0,0.75);
        }
    }
}

#loading {
    background: linear-gradient(-45deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 25%, rgba(255,255,255,0.75) 25%, rgba(255,255,255,0.75) 50%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0.5) 75%, rgba(255,255,255,0.75) 75%, rgba(255,255,255,0.75) 100%);
    background-size: 50px 50px;

    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;

    z-index: 99999;

    transition: all 250ms;

    .absCenter {
        height: 20em;
        width: 20em;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        margin: auto;
        text-align: center;
    }
    #digitaslbi-id {
        height: 16em;
        width: 16em;

        animation: pulse 1750ms linear infinite;

        border-radius: 100%;
        box-shadow: 0 0 1em rgba(255,255,255,0.75);
    }
    span {
        display: block;
        padding-top: 0.5em;

        font-size: 2em;
        font-family: 'Oswald';
        font-weight: 300;

        text-shadow: 0 0 1em rgba(255,255,255,0.75);
    }
}

body.loading {
    #loading {
        opacity: 1;
    }
}
body {
    #loading {
        opacity: 0;
    }
}


@keyframes pulse
{
    0% {
        opacity: 0.5;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    width: 100%;

    a {
        font-size: 1.5em;
        padding: 0.5em;
        opacity: 0.5;
        display: block;
        color: #CCC;
    }
    a:hover {
        text-decoration: none;
    }
}







/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
